{% extends "base.html.twig" %}

{% block body %}
    <style>
        .bannierre{
            background: url('{{ asset("images/banniere2.jpg") }}');
            display: flex;
            align-items: center;
            justify-content: center;
            height: 400px;
            background-attachment:fixed;
            background-repeat:no-repeat;
            background-size:cover;
            background-position: 50% 10%;
        }
        button{
            display :none;
        }

        button.btn{
            display :inline-block;
        }
    </style>
    <div class ="bannierre"> 
        <h1 class="bannierre-titre"> Validation des commentaires </h1>
    </div>
<div class="container mt-5 mb-5">

    <table class="table table-striped">
        <thead>
            <tr class="text-center">
                <th>Utilisateur</th>
                <th>Le commentaire</th>
                <th>Numéro de fiche</th>
                <th>Valider</th>
                <th>Supprimer</th>
            </tr>
        </thead>
        <tbody>
        
        {% for comm in lesCommentaires %}
           <tr class="text-center">
            <td>{{ comm['pseudo'] }}</td>
            <td>{{ comm['texte'] }}</td>
            <td>{{ comm['ficheId'] }}</td>
            <td><a href="/admin/validCommentaire/{{ comm['id'] }}" class="btn btn-success">Valider</a></td>
            <td><a href="/admin/suppCommentaire/{{ comm['id'] }}" class="btn btn-danger">Supprimer</a></td>
        
        </tr>
        {% endfor %}
        
        </tbody>
    </table>
</div>
<br><br><br><br>
{% endblock %}
