{% extends 'base.html.twig' %}

{% block body %}

    {# {% if app.user and (app.user.roles["ROLE"])=="ROLE_ADMIN" %} #}

    <div class="container">
        <div class="row">
            <div class="card border-dark col-12 mt-2">
                <div class="card-header">Gestion des demandes de fiche</div>
                <div class="card-body">
                    <h5 class="card-title">Dernière demande : {{last['pseudo']}}</h5>
                    <p class="card-text">{{last['message']}}...</p>
                    <a href="/admin/demandes" class="btn btn-primary">Voir toutes les demandes</a>
                </div>
                {% if last['nb'] !=0 %}
                <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger">{{last['nb']}}</span> 
                {% endif %}   
            </div>
            <div class="card border-dark me-3 mt-2" style="max-width: 18rem;">
                <div class="card-header">Gestion des utilisateurs</div>
                <div class="card-body text-dark">
                    <h5 class="card-title">Administration utilisateurs</h5>
                    <p class="card-text">Ici vous pouvez gerer tous les utilisateurs du site (role, mot de passe, pseudo, status...)</p>
                    <a href="/admin/users" class="btn btn-secondary">Voir les utilisateurs</a>
                </div>
                <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-secondary">{{nbU[0]['nb']}}</span>
            </div>      
            <div class="card border-dark col-5 mt-2 me-2">
                <div class="card-header">Gestion des commentaires</div>
                
                <div class="card-body">
                    <h5 class="card-title">Administration commentaire</h5>
                    <p class="card-text">Ici il est possible de gérer les nouveaux commentaires poster par les utilisateurs</p>
                    <a href="/admin/commentaires" class="btn btn-secondary">Voir les commentaires</a>
                </div>
                {% if nb[0]['nb'] !=0 %}
                <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger">{{nb[0]['nb']}}</span>
                {% endif %}   
            </div>             
        </div>
    </div>
    {# {% else %}

    <br>
    <h1 class="text-center">Vous n'etes pas connecter ou vous n'avez pas la permission d'accèder à cette page</h1>

    {% endif %} #}


{% endblock %}






