{% extends "base.html.twig" %}

{% block body %}
    
    <div class ="bannierre"> 
        <h1 class="bannierre-titre"> Les demandes </h1>
    </div>
    <div class="container mt-5 mb-5 bloc-form">

    <table class="table table-striped">
        <thead>
            <tr class="text-center">
                <th>Numéro</th>
                <th>Catégorie</th>
                <th>Objet</th>
                <th>Utilisateur</th>
                <th>Demandes</th>
            </tr>
        </thead><tbody>
        
        {% for demande in demandes %}

           <tr class="text-center">
            <td class="text-tableau">{{ demande.id }}</td>
            <td class="text-tableau">{{ demande.categorie.nom }}</td>
            <td class="text-tableau">{{ demande.objet }}</td>
            <td class="text-tableau">{{ demande.user.pseudo }}</td>
            <td>
<div class="col-4"><button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal{{ demande.id }}">Ouvrir</button></div>

<div class="modal fade" id="exampleModal{{ demande.id }}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Demmande N°{{ demande.id }}</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <h4>Demande envoyer par {{demande.user.pseudo}}</h4><br>
       <h5> Objet de la demande : {{demande.objet}}</h5><br>
        <p>{{ demande.message }}</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fermer</button>
        <a href="/admin/suppDemande/{{demande.id}}" class="btn btn-danger">Refuser</a>
        <a href="/fiche/ajout/{{demande.id}}" class="btn btn-success">Valider la demande et créer la fiche</a>
      </div>
    </div>
  </div>
</div></td>
            </tr>

        {% endfor %}
         
    </tbody>
    </table>
    </div>
<br><br><br><br>
{% endblock %}