{% extends "base.html.twig" %}

{% block body %}
    <style>
        .bannierre{
            background: url('{{ asset("images/banniere2.jpg") }}');
            display: flex;
            align-items: center;
            justify-content: center;
            height: 400px;
            background-attachment:fixed;
            background-repeat:no-repeat;
            background-size:cover;
            background-position: 50% 10%;
        }
    </style>
    <div class ="bannierre"> 
        <h1 class="bannierre-titre"> Les utilisateurs </h1>
    </div>
    <div class="container mt-5 mb-5">
        <form action="/admin/modifUser" method="post">
        <div class="accordion accordion-flush" id="accordionFlushExample">
            {% for user in users %}
                
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="flush-heading-{{user.id}}">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapse-{{user.id}}" aria-expanded="false" aria-controls="flush-collapse-{{user.id}}">
                            {{user.pseudo}} | {{user.dateInscription|date('Y-m-d')}}</button>
                        </h2>
                        <div id="flush-collapse-{{user.id}}" class="accordion-collapse collapse" aria-labelledby="flush-heading-{{user.id}}" data-bs-parent="#accordionFlushExample">
                            <div class="accordion-body">
                                <div class="container">
                                    <div class="row">
                                        <div class="col-1"><input name="idUser" id="idUser-{{user.id}}" value="{{user.id}}" class="form-control text-center" disabled></input></div>
                                        <div class="col-2"><input name="inPseudo-{{user.id}}" id="inPseudo-{{user.id}}" value="{{user.pseudo}}" class="form-control" disabled ></input></div>
                                        <div class="col-4"><input name="inEmail-{{user.id}}" id="inEmail-{{user.id}}" value="{{user.email}}" class="form-control" disabled ></input></div>
                                        <div class="col-2"><select name="slRole-{{user.id}}" id="slRole-{{user.id}}" class="form-select" aria-label="Disabled select example" disabled>
                                            {% if user.roles['ROLE']=='ROLE_ADMIN' %}
                                                <option value="ROLE_ADMIN" selected>Administrateur</option>
                                                <option value="ROLE_USER">Utilisateur</option>                                               
                                            {% else %}
                                                <option value="ROLE_USER" selected>Utilisateur</option>
                                                <option value="ROLE_ADMIN">Administrateur</option>
                                            {% endif %}

                                        </select></div>
                                        {% if user.statutConnexion == true %}<div class="col-1"><h5> <span class="badge bg-success">En ligne</span></h5></div>
                                        {% else %}
                                            <div class="col-1"><h5><span class="badge bg-danger">Hors ligne</span></h5></div>
                                        {% endif %}
                                        <div class="col-2"><a onClick="users({{user.id}});" id="btnModif-{{user.id}}" class="btn btn-secondary">Modifier</a>
                                        <button type="submit" id="btnValid-{{user.id}}" hidden id="btnModif-{{user.id}}" class="btn btn-success">Valider</button></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
  
               
            {% endfor %}
         </div>      
    </div>
   
    <script src="{{ asset('js/admin.js') }}"></script>
<br><br><br><br>
{% endblock %}