{{ form_start(form) }}

<div class="container">
    <div class="row">
        <input class="form-control" value="{{ app.user.pseudo }}" readonly></input>
        <input name="ficheId" value="{{ ficheId }}" hidden></input>
    </div>
    <div class="row">
        {{ form_widget(form.message,{'attr':{'class':'form-control'}}) }}  
        {{ form_widget(form.post,{'attr':{'class':'btn btn-secondary'}}) }}  
    </div>

</div>

{{form_end(form)}}