<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="icon" type="image/png" href="https://img.icons8.com/bubbles/50/000000/purchase-order.png" />
		<title>{% block title %} Fiche Web {% endblock %}</title>
		{% block stylesheets %}
			<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
			<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
			<link href="{{ asset('css/stylesAccueil.css') }}" type="text/css" rel="stylesheet">
			<link href="{{ asset('css/stylesFiche.css') }}" type="text/css" rel="stylesheet">
			<link href="{{ asset('css/allFiches.css') }}" type="text/css" rel="stylesheet">
			<link href="{{ asset('css/styles.css') }}" type="text/css" rel="stylesheet">
		{% endblock %}

	</head>
	<header>
		<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
			<div class="container-fluid">
				<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"></span>
				</button>
				<div class="collapse navbar-collapse" id="navbarTogglerDemo01">
					<a class="navbar-brand" href="/"><img src="https://img.icons8.com/bubbles/50/000000/purchase-order.png"/></a>
					<ul class="navbar-nav me-auto mb-2 mb-lg-0">
						<li class="nav-item">
						<a class="nav-link active" aria-current="page" href="/"><i class="bi bi-house-door-fill"></i>&nbsp;Accueil</a>
						</li>
						<li class="nav-item dropdown">
          					<a class="nav-link dropdown-toggle"  id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false"><i class="bi bi-file-text"></i>&nbsp;Fiche</a>
          						<ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            						<li><a class="dropdown-item" href="/fiche/tous">Voir toute les fiches</a></li>
									{% if app.user %}
            						<li><hr class="dropdown-divider"></li>
            						<li><a class="dropdown-item" href="/fiche/demande">Demande de nouvelle fiche</a></li>
									{% endif %}
          						</ul>
        				</li>						
						{% if app.user and app.user.roles['ROLE'] == 'ROLE_ADMIN' %}
						<li class="nav-item">
						<a class="nav-link " href="/admin/acceuil"><i class="bi bi-person-lines-fill"></i>&nbsp;Administration</a>
						</li>
						{% endif %}
						{% if app.user %}
						<li class="nav-item">
						<a class="nav-link" aria-current="page" href="#"><i class="bi bi-person-circle"></i>&nbsp;Compte</a>
						</li>						
						<li class="nav-item">
						<a class="nav-link" aria-current="page" href="/deconnexion"><i class="bi bi-door-closed-fill"></i>&nbsp;Deconnexion</a>
						</li>
						{% endif %}
					</ul>
					<div class="col">
					<form class="form-inline my-2 my-lg-0" action="{{ path('search_handlesearch')}}">
						<div class="container">
							<div class="row justify-content-md-end">
								<div class="col-3"><input class="form-control mr-sm-2" name="mot" type="search" placeholder="Rechercher une fiche..." aria-label="Search"></div>
								<div class="col-2"><button class="btn btn-outline-success my-2 my-sm-0" type="submit">Recherche</button></div>
							</div>
						<div>
					</form>
					</div>
				</div>
			</div>
		</nav>
		
	</header>
	<body>
		{% block body %}{% endblock %}
	</body>
	<footer>
        	<!-- FOOTER -->
			<div id="footer-main">
				<div class="footer-contenu">
					<div class="sec aboutus">
						<h2 class="footer-titre">A propos de nous</h2>
						<p class="footer-p"> Le lorem ipsum est, en imprimerie, une suite de mots sans signification utilisée
						à titre provisoire</p>

						<ul class="sci">
							<li class="sci-li"><a href="#" class="sci-lien"><i class="bi bi-facebook"></i></a></li>
							<li class="sci-li"><a href="#" class="sci-lien"><i class="bi bi-instagram"></i></a></li>
							<li class="sci-li"><a href="#" class="sci-lien"><i class="bi bi-twitter"></i></a></li>
							<li class="sci-li"><a href="#" class="sci-lien"><i class="bi bi-youtube"></i></a></li>
						</ul>
					</div> 
					<div class="sec quickLinks">
						<h2 class="footer-titre">Liens rapide</h2>
						<ul class="sec">
							<li class="sec-li"><a href="#" class="sec-lien">A propos</a></li>
							<li class="sec-li"><a href="#" class="sec-lien">FAQ</a></li>
							<li class="sec-li"><a href="#" class="sec-lien">Contact</a></li>
						</ul>
					</div> 
					<div class="sec contact">
						<h2 class="footer-titre">Contact info</h2>
						<ul class="info">
							<li class="contact-li">
								<span class="contact-span"><i class="bi bi-envelope"></i></span>
								<p class="footer-p"><a href="mailto:service@ficheweb.fr" class="email">service@ficheweb.fr</a></p>
							</li>
						</ul> 
					</div> 
				</div>
				<div class="copyrightText">
					<p class="Copyright"> Copyright © 2021. Tous droits réservés</p>
				</div>  
			</div>	   
	</footer>
	{% block javascripts %}
			<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
	{% endblock %}
	
</html>
