{% extends 'base.html.twig' %}


{% block title %}Ajouter une fiche{% endblock %}

{% block javascripts %}
    <script type="text/javascript" src="{{ asset("js/fiche.js") }}"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
{% endblock %}

{% block body %}
    <style>
        .bannierre{
            background: url('{{ asset("images/banniere2.jpg") }}');
            display: flex;
            align-items: center;
            justify-content: center;
            height: 400px;
            background-attachment:fixed;
            background-repeat:no-repeat;
            background-size:cover;
            background-position: 50% 10%;
            box-shadow:0px 20px 12px 0px rgb(41 41 41 / 75%);
            /* 0px 6px 12px 15px rgb(70 68 68 / 75%)*/
        }
    </style>
    <div class ="bannierre"> 
        <h1 class="bannierre-titre"> Ajout d'une fiche</h1>
    </div>
<div class='card text-center mt-5 mb-5' style="border:none;">
        {% if demande != '' %}<h4>Voici la demande  de {{ demande.user.pseudo }} qui à pour catégorie {{ demande.categorie.nom }} : {{ demande.message }}{% endif %}</h4>
    <h1 class=""> Veuillez remplir le formulaire pour l'ajout d'une fiche</h1>
    {{ form_start(form)}}
    <div class="container mt-5 mb-5">
    {{form_label(form.nom, 'Titre de la fiche') }}
    {{form_widget(form.nom, {'attr':{'placeholder':"Titre de la fiche ",'class':"form-control"}}) }}
    
    {{form_label(form.nom, 'Les Catégories') }}
    {{form_widget(form.laCategorie, {'attr':{'placeholder':"Catégorie ",'class':"form-select"}}) }}
    
    <br>
    <button id="btnFiche" class="btn btn-success" type="submit" disabled>Créer la fiche</button>
    {{form_end(form)}}
    <a class="btn btn-secondary" id="btnCtn">Ajouter un contenu</a>
    <button id="spModal" type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#exampleModal" disabled>Suprimer contenu</button>
    <input name="nbContenue" style="width:50px !important;" id="nbContenue" class="btn btn-warning" value="0" readonly></input>

    <div class="container" id="contenue"></div>
   </div>
</div>
<!-- Button trigger modal -->

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel"><i class="bi bi-exclamation-diamond-fill"></i> Attention !</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <h1>Êtes-vous sur ?</h1>
        <p>Cette action supprimera le dernier contenu ajouté.</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Annuler</button>
        <button type="button" class="btn btn-danger" data-bs-dismiss="modal" id="btnSpCtn">Surprimer</button>
      </div>
    </div>
  </div>
</div>
{% endblock %}
