{% extends 'base.html.twig' %}

{% block title %} Toutes les fiches {% endblock %}

{% block body %}
<style>
        .bannierre{
            background: url('{{ asset("images/banniere2.jpg") }}');
            display: flex;
            align-items: center;
            justify-content: center;
            height: 400px;
            background-attachment:fixed;
            background-repeat:no-repeat;
            background-size:cover;
            background-position: 50% 10%;
        }
</style>
<div class ="bannierre"> 
    <h1 class="bannierre-titre"> Toutes les fiches </h1>
</div>
<div class="container mt-4 mb-4">
  <div class="row">  
      {% for fiche in lesFiches %}
      <div class="card me-4 mb-4 mt-4 col-xl">
        <img src="{{ asset('images/html-5.jpg') }}" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">{{ fiche.nom }}</h5>
          {% set des = fiche.contenus[0].description %}
          <p class="card-text">{{ des[:280] ~ (des|length > 280 ?'...') }}</p>
          <a href="/fiche/voir/{{ fiche.id }}" class="btn btn-primary">Entrer</a>
        </div>
        <br>
      </div>

      {% endfor %}
   </div>
</div>
 <br><br><br><br>
 {% endblock %}
