{% extends 'base.html.twig' %}

{% block title %} Une fiche ! {% endblock %}

{% block body %}
    <div class ="bannierre"> 
        <h1 class="bannierre-titre"> Consultation de la fiche : {{ fiche.nom}}  </h1>
    </div>

    {% for contenu in fiche.contenus %}
        <div class="container mt-5 mb-5">
            <div class="row">
                <h1>{{ contenu.rubrique }}</h1>
            </div>
            <div class="row">
                <div class="col me-3"><p>{{ contenu.description }}</p></div>
                    {% for media in contenu.lesMedias %}
                        {% if media.type == "Image" %}
                            <div class="col-6 mb-2"><img style="width:100%; height:100%; display:block;" src="{{media.lien}}"></div>
                        {% elseif media.type == "Video" %}
                            <div class="row mb-2"><div style="height:500px;" class="col"><iframe style="width:100%; height:100%; display:block;" src="{{ media.lien }}" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></div></div>
                        {% else %}
                            <h5>Lien vers le pdf en ligne : <a href="{{ media.lien }}">{{ media.lien }}</a></h5>
                        {% endif %}
                    {% endfor %}
            </div>
        </div>      
    {% endfor %}

    <div class="container mt-5 mb-5 bloc-commentaire">
        <div class="row">{{ render(controller('App\\Controller\\CommentaireController::AddCommentaire',{'ficheId':fiche.id})) }}</div>
        <hr class="trait">
        {% for comm in lesCommentaires %}
            {% if comm.isValid == true %}
            <div class="table row ms-0 commentaires">
                <div class="col-1"><h6 class="text-center callout-info">{{ comm.user.pseudo }}</h6></div>
                <div class="col-5"><p>  {{ comm.texte }}</p></div>
            </div>
            <hr class="trait">
            <br>
            {% endif %}
        {% endfor %}
    </div>
    
{% endblock %}