{% extends 'base.html.twig' %}


{% block title %}Modifier une fiche{% endblock %}

{% block body %}
<div class ="bannierre"> 
    <h1 class="bannierre-titre"> Modification de la fiche </h1>
</div>
<div class='container bloc-form mt-5 mb-5'>
    {{ form_start(form)}}
    <div class="row mt-3"><h2>Information général</h2></div>
        <div class="row justify-content-center mt-3 mb-5">
            <div class="col-4">
                <div class="text-center mb-2">{{form_label(form.nom, 'Titre de la fiche') }}</div>
                <div class="">{{form_widget(form.nom, {'attr':{'placeholder':"Titre de la fiche ",'class':"form-control"}}) }}</div>
            </div>
            <div class="col-4">
                <div class="text-center mb-2">{{form_label(form.nom, 'La Catégories') }}</div>
                <div class="">{{form_widget(form.laCategorie, {'attr':{'placeholder':"Catégorie ",'class':"form-select"}}) }}</div>
            </div>
        </div>
        <div class="row"><h2>Information sur les contenus de la fiche</h2></div>
        {% for contenu in fiche.contenus %}
        <div class="row justify-content-center mt-3 mb-5">
                <div class="col-3">
                    <div class="text-center mb-2">Rubrique du contenu</div>
                    <input class="form-control mb-2" type="text" name="rb-{{ contenu.id }}" value="{{ contenu.rubrique }}"></input>
                    {{ contenu.lesMedias|length !=0 ? '<h6> Les médias du contenu</h6>' }}
                    {% for media in contenu.lesMedias %}
                    <div class="mb-3 mt-3">
                        <input class="form-control mb-1" value="{{ media.lien }}" name="lien-{{ contenu.id }}-{{ media.id }}"></input>
                        <select class="form-select" aria-label="Default select example" name="sl-{{ contenu.id }}-{{ media.id }}">
                            <option value="{{ media.type }}">{{ media.type }}</option>
                            <option value="{{ media.type == "Image" or media.type == "PDF" ? 'Video' : 'Image' }}">{{ media.type == "Image" or media.type == "PDF" ? 'Video' : 'Image' }}</option>
                            <option value="{{ media.type == "Image" or media.type == "Video" ? 'PDF' : 'Image' }}">{{ media.type == "Image" or media.type == "Video" ? 'PDF' : 'Image' }}</option>
                        </select>
                    </div>
                {% endfor %}
                </div>
                <div class="col-6 mb-3">
                    <div class="text-center mb-2">Description du contenu</div>
                    <textarea class="form-control" rows="15" name="des-{{ contenu.id }}">{{ contenu.description }}</textarea>
                </div>
                <button type="submit" class='btn btn-success col-4'> Modifier </button>
                </div>
        </div>
        
        {% endfor %}
    {{form_end(form)}}
    </div>
</div>
{% endblock %}