{% extends 'base.html.twig' %}

{% block title %}Modifier les données personelles{% endblock %}


    


{% block body %}
<br><br>
<div class="container" style="width: 90%;">
  <div class='card text-center' >
    
    
    
    <h1> Bienvenue sur la page profil</h1>
    <form >
    {{ form_start(form)}}
    <div class="row">
    <div class="col-6">
    {{form_label(form.nom, 'Nom',{'attr':{'class':"form-label"}}) }}
    {{form_widget(form.nom, {'attr':{'placeholder':"Nom ",'class':"form-control col-6 "}}) }}
    </div>
    <div class="col-6">
    {{form_label(form.prenom, 'Prénom',{'attr':{'class':"form-label"}}) }}
    {{form_widget(form.prenom, {'attr':{'placeholder':"Prénom ",'class':"form-control"}}) }}
    </div>
    <div class="col-6">
    {{form_label(form.ville, 'Ville',{'attr':{'class':"form-label"}}) }}
    {{form_widget(form.ville, {'attr':{'placeholder':"Ville ",'class':"form-control"}}) }}
    </div>
    <div class="col-6">
    {{form_label(form.tel, 'Téléphone',{'attr':{'class':"form-label"}}) }}
    {{form_widget(form.tel, {'attr':{'placeholder':"Tel ",'class':"form-control"}}) }}
    </div>
    <div class="col-6">
    {{form_label(form.email, 'Email',{'attr':{'class':"form-label"}}) }}
    {{form_widget(form.email, {'attr':{'placeholder':"Email ",'class':"form-control"}}) }}
    </div>
    <div class="col-6">
    {{form_label(form.pseudo, 'Pseudo',{'attr':{'class':"form-label"}}) }}
    {{form_widget(form.pseudo, {'attr':{'placeholder':"Pseudo ",'class':"form-control"}}) }}
    </div>
    </div>
    <br>
    <button class= "btn btn-success col-4 mt-2"> Modifier</button>
    <br>
    
    <a href="/./service/motDePasseOublier" class= "btn btn-success col-4 mt-2">Changer le mot de passe</a>
    {{form_end(form)}}
    
    </form>
    </div>
</div>

{% endblock %}
